---
import { Image } from 'astro:assets';

interface HeroContent {
    title: string;
    description: string;
    backgroundImage?: any;
    overlayOpacity?: number; // Value between 0 and 1
}

interface Props {
    content: HeroContent;
}

const { content } = Astro.props;
const opacity = content.overlayOpacity ?? 1;
---

<section class="w-full border-b pt-32 pb-16 md:pt-32 md:pb-24 relative">
    <div class="absolute inset-0 left-0 top-0 w-full h-full overflow-hidden">
            {content.backgroundImage && typeof content.backgroundImage === 'object' && (
                <Image 
                    src={content.backgroundImage}
                    alt="Background image"
                    width={1920}
                    height={1080}
                    class="w-full h-full object-cover"
                    quality={70}
                    format="webp"
                />
            )}
            <div 
                class="hero-background absolute inset-0 left-0 top-0 w-full h-full overflow-hidden" 
                style={`opacity: ${opacity};`}
            ></div>
        </div>

    <div class="site-container mx-auto px-4 relative z-10">
        <div>
            <h1 class="text-white text-4xl md:text-5xl lg:text-6xl font-bold mb-6" style="font-family: 'Noto Sans KR', sans-serif; font-size: 2.25rem;" data-aos="fade-up">{content.title}</h1>
            {content.description && <p class="subtitle text-white text-xl md:text-2xl max-w-2xl" style="font-family: 'Noto Sans KR', sans-serif;" data-aos="fade-up" data-aos-delay="100">{content.description}</p>}
        </div>
    </div>
</section>