---
layout: "../../layouts/Layout.astro"
title: "Página no encontrada"
description: "Lo sentimos, la página que buscas no existe."
---

<h1>404 - Página no encontrada</h1>
<p>No se pudo encontrar la página que buscas.</p>
<a href="/es/">Volver al inicio en español</a>
